<div class="loading-overlay" *ngIf="loadingService.loading$ | async">
    <div class="loader-container">
        <div class="mailer-loader">
            <div class="loader-ring"></div>
            <div class="loader-envelope">
                <img [src]="IMAGE_PATHS.TP_LOGO" alt="Loader Logo" class="loader-logo">
            </div>
            <div class="loader-paper"></div>
        </div>
        <div class="loader-text">
            <span class="text-primary font-weight-bold">Loading</span>
            <div class="dots">
                <span>.</span><span>.</span><span>.</span>
            </div>
        </div>
    </div>
</div>
