<div class="row" *ngIf="totalCount > 0">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" role="status" aria-live="polite">
            Showing {{ (currentPage - 1) * pageSize + 1 }} to {{ Math.min(currentPage * pageSize, totalCount) }} of {{ totalCount }} entries
        </div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                <li class="paginate_button page-item previous" [class.disabled]="currentPage === 1">
                    <a (click)="goToPage(1)" class="page-link">First</a>
                </li>
                <li class="paginate_button page-item previous" [class.disabled]="currentPage === 1">
                    <a (click)="goToPage(currentPage - 1)" class="page-link">Previous</a>
                </li>
                <li class="paginate_button page-item" *ngFor="let page of getPageArray()" [class.active]="page === currentPage">
                    <a (click)="goToPage(page)" class="page-link">{{ page }}</a>
                </li>
                <li class="paginate_button page-item next" [class.disabled]="currentPage === totalPages">
                    <a (click)="goToPage(currentPage + 1)" class="page-link">Next</a>
                </li>
                <li class="paginate_button page-item next" [class.disabled]="currentPage === totalPages">
                    <a (click)="goToPage(totalPages)" class="page-link">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>
