.center-align {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.password-card {
    max-width: 800px;
}

.border-bottom-primary {
    border-bottom: 3px solid var(--tp-purple) !important;
}
